<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Faverest</title>
  </head>
  <body>
    <header class="heading">
      <div class="container">
        <div class="jumbotron">
          <h1>Welcome To Faverest</h1>
          <h2><strong>Find all your favorite interest in one place!</strong></h2>
        </div>
    </header>
    <main>

    <div class="nomargin row">
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
      <div class="col-border col-lg-1">.col-lg-1</div>
    </div>
    
  <div id="favs" transitions-enabled>
    <% @favs.each do |fav| %>
      <div class="box panel panel-default">
        <br>
      <%= link_to (image_tag fav.image.url(:medium)), fav %>
    <div class="panel-body">
        <h2> <%= link_to fav.title, fav %> </h2>
        <p>
          <div class="user">
            Submitted by
            <%= fav.user.email %>
          </div>
        </p>
    </div>
    </div>
    <% end %>
</div>

    </main>

<footer>
  <div class="main">
      <p>Copyright 2009 Your name</p>
  </div>
</footer>
  <!-- <div class="form-page" style="height:780px;" data-reactid=".0.4.$/.0.4"><div class="background-image-component" style="background-color:#eee;width:1277px;height:780px;" data-reactid=".0.4.$/.0.4.0"><div class="image-container" style="-webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -webkit-transition-duration: 0.6s; transition-duration: 0.6s; opacity: 1;" data-reactid=".0.4.$/.0.4.0.0"><img class="background-image" src="" style="width:1348px;height:791px;top:-5px;left:-35px;-webkit-transition-property:-webkit-transform;-webkit-transition-duration:0.6s;" data-reactid=".0.4.$/.0.4.0.0.0"></div> -->
  </body>
</html>
